{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 140,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true,
        "proseWrap": "never"
      }
    }
  ]
}
